@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-delayed {
  0% {
    transform: translatey(-20px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-20px);
  }
}

@keyframes move {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}

@keyframes move-delayed {
  0% {
    transform: translatex(-20px);
  }
  50% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(-20px);
  }
}

.float {
  animation: float 6s ease-in-out infinite;
}


.floating-demo {
  position: relative
}

.floating {
  position: absolute;

  &.left {
    top: -15%;
    left: -10%;
    width: auto;

    &.phone {
      @include apply-to(md) {
        height: 14em;
        width: auto;
        left: -5%;
      }
      left: 5%;
    }
    @include apply-to(md) {
      max-height: 16rem;
    }
    max-height: 10rem;
    animation: move-delayed 6s ease-in-out infinite;
  }

  &.right {
    top: -2%;
    right: -5%;
    width: auto;
    max-height: 5rem;
    &.menu {
      max-height: 15rem;
      top: -5%;
    }
    max-width: 12rem;
    animation: move 6s ease-in-out infinite;
    @include apply-to(md) {
      max-height: 7rem;
      right: -15%;
      top: -5%;
      max-width: unset;

      &.menu {
        max-height: 15rem;
        right: -5%;
        top: -5%;
        max-width: unset;
      }
    }
  }
}
